.own-your-metaverse__features {
  width: 100%;
  max-width: 100rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 3.2rem;
  column-gap: 4.8rem;
}

.feature {
  margin: 0 auto;
  padding: 2rem 0;
  width: 100%;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  font-size: 1.6rem;
}

.feature span {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.feature span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  z-index: -2;
  background-color: #6163ff;
}

.feature h3 {
  font-size: 2.4rem;
}

.feature p {
  color: #9ca9b3;
  line-height: 1.6;
}

/* 1056 */
@media (max-width: 66em) {
  .own-your-metaverse__features {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 720px */
@media (max-width: 45em) {
  .own-your-metaverse__features {
    grid-template-columns: repeat(1, 1fr);
  }
}
