/* 
COLOR PALETTE 

primary: #6163ff
shades: 
- #9ca9b3
- #eceded
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  background-color: #15181a;
}

body::-webkit-scrollbar {
  display: none;
}

button {
  border: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

/* REUSABLE CLASSES */
.section {
  padding: 9.2rem 0;
}

.not-allowed {
  cursor: not-allowed !important;
}

/* SECTION INTRO */
.section-intro {
  width: 100%;
  max-width: 60rem;
  margin: 0 auto 9.6rem auto;
  padding: 0 3.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}

.section-intro h2 {
  font-size: 5rem;
  text-align: center;
}

.section-intro p {
  font-size: 2rem;
  line-height: 1.4;
  text-align: center;
  color: #9ca9b3;
}

/* 720px */
@media (max-width: 45em) {
  .section-intro h2 {
    font-size: 3.2rem;
  }
}
